html,
body {
	min-height: 100%;
}

body {
	position: relative;
}

main {
	padding-top: $navbar-height;
}

.website-section {
	padding: 60px 0;
	&:nth-of-type(odd) {
		background-color: blue($color: #000000);
	}
}
